<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NESL</title>

    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag "bootstrap" %>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag "business-casual" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="<? echo base_url();?>js/jquery.js"></script>
    <script type="text/javascript" src="<? echo base_url();?>js/main.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="<? echo base_url();?>js/bootstrap.js"></script>
    <!-- Fonts -->
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" %>
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>

    <div class="brand">Northern Estate Services Ltd</div>
    <div class="address-bar">The Estate Offfice, Burnt House, Blacko, Lancashire, BB9 6RG
    </div>