<!DOCTYPE html>
<html lang="en">
<%= render "header" %>
<%= render "nav" %>
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <%= image_tag("rideon.jpg", class: "img-responsive img-full") %>
                            </div>
                            <div class="item">
                                <%= image_tag("planting.jpg", class: "img-responsive img-full") %>
                            </div>
                            <div class="item">
                                <%= image_tag("tree.jpg", class: "img-responsive img-full") %>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">NESL</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>John Metcalfe</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Welcome</strong>
                    </h2>
                    <hr>
                    <hr class="visible-xs">
                    <p>NESL specialises in maintaining the grounds and landscaped areas of commercial business premises throughout the north of England. Our highly skilled and motivated staff ensure that NESL’s core values of providing an exceptional and reliable service are delivered at all times in a cheerful, polite and no-nonsense way.</p>
                    <p>We take enormous pride in our work because we care. NESL is perfectly placed geographically to access both sides of the Pennines and we work right across the heart of the North of England from Lancaster to South Cheshire in the North West and from Newcastle to Sheffield in the North East and all areas in between.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Beautiful boxes
                        <strong>to showcase your content</strong>
                    </h2>
                    <hr>
                    <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
            </div>
        </div>

    </div>
    
    <%= render "footer" %>
